文件读取

In [2]:
import pandas as pd
import numpy as np
import openpyxl
import datetime

In [6]:
liushui = pd.read_excel("消费流水2020-08-10 00_00_00_2020-08-10 23_59_59.xlsx",sheet_name=1)

liushui = liushui.dropna(axis=0,how='all')
liushui.head()

FileNotFoundError: [Errno 2] No such file or directory: '消费流水2020-08-10 00_00_00_2020-08-10 23_59_59.xlsx'

流水时间处理

In [51]:
liushui['消费时间']

0      2020-08-10 20:33:00
1      2020-08-10 20:31:54
2      2020-08-10 20:31:21
3      2020-08-10 20:31:04
4      2020-08-10 20:30:42
5      2020-08-10 20:30:32
6      2020-08-10 20:30:01
7      2020-08-10 20:29:17
8      2020-08-10 20:27:50
9      2020-08-10 20:23:38
10     2020-08-10 20:22:25
11     2020-08-10 20:14:09
12     2020-08-10 20:13:57
13     2020-08-10 20:10:32
14     2020-08-10 20:09:43
15     2020-08-10 20:07:17
16     2020-08-10 20:06:34
17     2020-08-10 20:06:23
18     2020-08-10 20:04:44
19     2020-08-10 20:02:50
20     2020-08-10 20:00:44
21     2020-08-10 19:55:06
22     2020-08-10 19:54:58
23     2020-08-10 19:54:32
24     2020-08-10 19:53:05
25     2020-08-10 19:52:08
26     2020-08-10 19:51:48
27     2020-08-10 19:51:46
28     2020-08-10 19:51:09
29     2020-08-10 19:45:47
               ...
1209   2020-08-10 07:43:04
1210   2020-08-10 07:42:51
1211   2020-08-10 07:42:39
1212   2020-08-10 07:42:14
1213   2020-08-10 07:42:08
1214   2020-08-10 07:41:33
1215   2020-08-10 07:39:11
1216   2020-08-10 07:38:58
1217   2020-08-10 07:38:51
1218   2020-08-10 07:37:24
1219   2020-08-10 07:36:57
1220   2020-08-10 07:36:49
1221   2020-08-10 07:36:28
1222   2020-08-10 07:35:44
1223   2020-08-10 07:35:31
1224   2020-08-10 07:35:09
1225   2020-08-10 07:34:52
1226   2020-08-10 07:34:17
1227   2020-08-10 07:33:56
1228   2020-08-10 07:33:42
1229   2020-08-10 07:33:31
1230   2020-08-10 07:33:11
1231   2020-08-10 07:32:33
1232   2020-08-10 07:32:13
1233   2020-08-10 07:32:07
1234   2020-08-10 07:31:02
1235   2020-08-10 07:30:42
1236   2020-08-10 07:30:29
1237   2020-08-10 07:30:23
1238                   NaT
Name: 消费时间, Length: 1239, dtype: datetime64[ns]

数据透视表

In [52]:
pd.pivot_table(liushui, values='订单金额', index=['结算金额'], columns=['订单状态'])

订单状态       已关闭      已完成
结算金额
0.00     142.1      NaN
0.20       NaN     0.20
0.30       NaN     0.30
0.50       NaN     0.50
0.80       NaN     0.80
0.90       NaN     0.90
1.00       NaN     1.00
1.49       NaN     1.50
1.79       NaN     1.80
1.99       NaN     2.00
2.29       NaN     2.30
2.49       NaN     2.50
2.79       NaN     2.80
2.99       NaN     3.00
3.19       NaN     3.20
3.49       NaN     3.50
3.59       NaN     3.60
3.69       NaN     3.70
3.79       NaN     3.80
3.89       NaN     3.90
3.98       NaN     4.00
4.18       NaN     4.20
4.28       NaN     4.30
4.48       NaN     4.50
4.78       NaN     4.80
4.88       NaN     4.90
4.98       NaN     5.00
5.08       NaN     5.10
5.18       NaN     5.20
5.38       NaN     5.40
...        ...      ...
394.99     NaN   396.50
396.49     NaN   398.00
424.38     NaN   426.00
427.37     NaN   429.00
433.35     NaN   435.00
443.31     NaN   445.00
470.21     NaN   472.00
471.20     NaN   473.00
488.14     NaN   490.00
521.01     NaN   523.00
569.83     NaN   572.00
573.81     NaN   576.00
623.62     NaN   626.00
662.47     NaN   665.00
679.41     NaN   682.00
690.37     NaN   693.00
693.36     NaN   696.00
747.15     NaN   750.00
792.98     NaN   796.00
860.72     NaN   864.00
887.12     NaN   890.50
892.60     NaN   896.00
1051.99    NaN  1056.00
1059.49    NaN  1063.53
1119.73    NaN  1124.00
1245.25    NaN  1250.00
1248.24    NaN  1253.00
1721.43    NaN  1728.00
2295.24    NaN  2304.00
3934.99    NaN  3950.00

[325 rows x 2 columns]

读取新的excel

In [7]:
rukudan = pd.read_excel(r"采购入库单_全.xls",header=5)
rukudan.head()

,行号,货商编号,单号,货商名称,经销方式,业务员,操作日期,操作员,审核人,数量,金额,售价金额,税额,进销差额,采购金额不含税
0,1.0,1006.0,PI00190600001,台州路桥旺润食品有限公司,购销,未签名,2019-06-01 10:01:32,邱文宏,邱文宏,405.0,1220.80,1472.5,140.446018,251.70,1080.353982
1,2.0,228.0,PI00190600002,台州朱莉的厨房食品有限公司,购销,未签名,2019-06-01 10:03:09,邱文宏,邱文宏,20.0,105.60,160.0,3.075728,54.40,102.524272
2,3.0,3001.0,PI00190600003,台州市臻禧食品有限公司,购销,未签名,2019-06-01 10:04:44,邱文宏,邱文宏,57.0,275.70,367.5,31.717699,91.80,243.982301
3,4.0,246.0,PI00190600004,浙江五丰冷食有限公司台州销售分公司,购销,未签名,2019-06-01 14:03:02,邱文宏,邱文宏,496.0,1033.13,1521.5,118.855664,488.37,914.274336
4,5.0,1047.0,PI00190600005,台州市路桥特佳食品有限公司,购销,未签名,2019-06-01 14:10:18,邱文宏,邱文宏,700.0,4264.99,5380.3,490.662566,1115.31,3774.327434

In [8]:
pivot=pd.pivot_table(rukudan, index=['货商名称'],values=['采购金额不含税','金额'],aggfunc={'金额':len,'采购金额不含税':[np.sum,np.mean]},fill_value=0)
pivot.round(decimals=2)

                       采购金额不含税              金额
                          mean         sum len
货商名称
1台州市帅龙贸易有限公司            976.49    80071.95  82
三门佳琦医疗器械有限公司            776.55     1553.10   2
上海亮赫贸易有限公司             1867.01    33606.19  18
上海元丰医疗设备有限公司            796.46     3185.84   4
上海冠霓生物科技有限公司          24212.39   556884.96  23
...                        ...         ...  ..
绍兴弘盛医疗器械有限公司           2900.19   182711.95  63
苏州市晶乐高分子医疗器械有限公司        566.37     2831.86   5
金华市德仁假肢矫形康复器材有限公司     36700.56  2972745.35  81
锦江麦德龙现购自运有限公司台州开发区商场    838.69    58708.64  70
黄美爱（临海市鸣家工艺品厂）          990.00     4950.00   5

[194 rows x 3 columns]

In [12]:
pivot.to_excel()

TypeError: to_excel() missing 1 required positional argument: 'excel_writer'

In [11]:
pivot['采购金额不含税']['mean'].round(decimals=2)

货商名称
1台州市帅龙贸易有限公司              976.49
三门佳琦医疗器械有限公司              776.55
上海亮赫贸易有限公司               1867.01
上海元丰医疗设备有限公司              796.46
上海冠霓生物科技有限公司            24212.39
                          ...
绍兴弘盛医疗器械有限公司             2900.19
苏州市晶乐高分子医疗器械有限公司          566.37
金华市德仁假肢矫形康复器材有限公司       36700.56
锦江麦德龙现购自运有限公司台州开发区商场      838.69
黄美爱（临海市鸣家工艺品厂）            990.00
Name: mean, Length: 194, dtype: float64

不能跑-待修改

In [ ]:
import pyodbc
 
class DBHelper(object):
 
    def __init__(self, serverIp, port, dbName, uid, pwd):
        conn_info = 'DRIVER={SQL Server};DATABASE=%s;SERVER=%s,%s;UID=%s;PWD=%s' %  (dbName, serverIp, port, uid, pwd)
        self.connection = pyodbc.connect(conn_info, unicode_results=True)
        self.cursor = self.connection.cursor()
 
    def __del__(self):
        if self.cursor:
            self.cursor.close()
            self.cursor = None
            print(self.cursor, '__del__ cursor closed')
        if self.connection:
            self.connection.close()
            self.connection = None
 
    def destroy(self):
        if self.cursor:
            print(self.cursor, 'destroy cursor closed')
            self.cursor.close()
            self.cursor = None
        if self.connection:
            self.connection.close()
            self.connection = None
 
    # 获取全部查询结果
    def queryAll(self, qryStr):
        print(qryStr.decode('gbk'))
        self.cursor.execute(qryStr)
        return self.cursor.fetchall()
 
    # 获取前maxcnt条查询结果
    def querySome(self, qryStr, maxCount):
        self.cursor.execute(qryStr)
        return self.cursor.fetchmany(maxCount)
 
    #获取分页查询结果
    def queryPage(self, qryStr, skipCnt, pageSize):
        self.cursor.execute(qryStr)
        self.cursor.skip(skipCnt)
        return self.cursor.fetchmany(pageSize)
 
    #获取查询条数
    def count(self, sql):
        self.cursor.execute(sql)
        return self.cursor.fetchone()[0]
 
    #执行语句，包括增删改，返回变更数据数量
    def execute(self, sql):
        count = self.cursor.execute(sql).rowcount
        self.connection.commit()
        return count 
haha=DBHelper('bw9kyypro_01', 'localhost', '1433', 'sa', 'tzjjsoft')
print(haha.execute('select * from bi_t_item_info '))

In [ ]:

import pymssql
class SqlServer:
    def __init__(self,host,user,pwd,db):
        self.host = host    #主机名
        self.user = user    #用户名
        self.pwd = pwd  #密码
        self.db = db    #数据库名
 
    def __GetConnect(self):
        if not self.db:
            raise(NameError,"没有设置数据库信息")
        #连接数据库
        self.conn = pymssql.connect(host=self.host,user=self.user,password=self.pwd,database=self.db,charset="utf8")
        cur = self.conn.cursor()
        if not cur:
            raise(NameError,"连接数据库失败")
        else:
            return cur
 
    def ExecQuery(self,sql):    #执行查询语句
        cur = self.__GetConnect()
        cur.execute(sql)
        data = cur.fetchall()    #一次获取全部数据
        row=cur.fetchone()    #一次获取一行数据
        rows = cur.fetchmany(10)    #获取10行数据
 
        #查询完毕后必须关闭连接
        self.conn.close()
        return data
 
    def ExecNonQuery(self,sql): #执行非查询语句
        cur = self.__GetConnect()
        cur.execute(sql)
        self.conn.commit()
        self.conn.close()
 
def main():
    #使用sa登录，密码为自设sa登录密码
    ss = SqlServer(host="192.168.51.56",user="sa",pwd="tzjjsoft",db="bw9kyypro_01")
    data = ss.ExecQuery("SELECT * FROM bi_t_item_info")
    for row in data:
        print (row[0],row[2])
    print ('done')
 
if __name__ == '__main__':
    main()